@import "colors";
@import "compass/css3";


body, html {
  background-color: $grey;
  color: $black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1  {
  font-size: 70px;
}

h1, h2, h3, h4, h5, h6  {
  font-family:  'Open Sans Condensed', sans-serif;
}


/**###################
Hero
#####################**/

#hero {

  h1 {
    display: inline-block;
  }
  img {
    height: 100px;
    margin-bottom: 25px;
  }
}
