/* line 5, ../sass/main.scss */
body, html {
	background-color: #e3e5e8;
	color: #000000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
}

/* line 11, ../sass/main.scss */
h1 {
	font-size: 70px;
}

/* line 15, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}

/**###################
Hero
#####################**/
/* line 26, ../sass/main.scss */

header h1 {
  display: inline-block;
} 
/* line 29, ../sass/main.scss */
header img {
  height: 100px;
  margin-bottom: 25px;
}

footer{
	color: #d3d6de;
	background-color: #424857;
	min-height: 200px;
}

footer a{
	color: #e67300;
}

footer a:hover{
	color: #ffa64d;
}