/* line 5, ../sass/main.scss */
body, html {
  background-color: #717C89;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 11, ../sass/main.scss */
h1 {
  font-size: 70px;
}

/* line 15, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}

/**###################
Hero
#####################**/
/* line 26, ../sass/main.scss */
#hero h1 {
  display: inline-block;
}
/* line 29, ../sass/main.scss */
#hero img {
  height: 100px;
  margin-bottom: 25px;
}
